/* BOUTON PRINCIPAL */
.btn {
    display: inline-flex;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    border-radius: 50px;
    padding: 14px 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    @include box-shadow;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50px;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
        box-shadow: 3px 3px 8px rgb(100, 100, 100);
        transition: opacity 250ms;
    }
} 

/* BOUTON LIKE */
.like-btn {
    position: relative;
    border: none;
    background-color: transparent;
    .fa-heart {
        cursor: pointer;
        font-size: 1.7rem;
    }
    & .like-btn--empty {
        opacity: 1;
        transition: opacity 500ms;
    }
    & .like-btn--full {
        position: absolute;
        left: 0;
        opacity: 0;
        background-image: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: all 500ms;
    }
    &:hover {
        & .like-btn--full {
            transform: scale(1);
            opacity: 1;
        }
        & .like-btn--empty {
            opacity: 0;
        }
    }
}