footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 25px 20px 30px 20px;
    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
    li {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    i {
        font-size: 0.8rem;
        margin-right: 7px;
    }
}

.footer__logo {
    font-family: Shrikhand;
    font-size: 1rem;
    display: flex;
    margin-bottom: 25px;
}